inSyca.bt.global/insyca.bt.gl.mb.services/diagnostics/MessageBrokerService_www_insyca_com_IMessageBroker.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://www.inSyca.com/IMessageBroker" elementFormDefault="qualified" targetNamespace="http://www.inSyca.com/IMessageBroker" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\MessageBrokerService_www_insyca_com_messagebroker.xsd" namespace="http://www.inSyca.com/messagebroker" />
  <xs:element name="getVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getVersionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="service_response" Namespace="http://schemas.datacontract.org/2004/07/inSyca.foundation.communication.itf" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://www.inSyca.com/messagebroker/service_response_10" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.inSyca.com/messagebroker" minOccurs="0" name="inDocument" nillable="true" type="q1:BizTalkMessageWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logMessageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="service_response" Namespace="http://schemas.datacontract.org/2004/07/inSyca.foundation.communication.itf" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://www.inSyca.com/messagebroker/service_response_10" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>