inSyca.suite.unittest_40/Service References/svcMessageBroker/IMessageBroker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.inSyca.com/IMessageBroker" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.inSyca.com/IMessageBroker" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.inSyca.com/IMessageBroker/Imports">
      <xsd:import namespace="http://www.inSyca.com/IMessageBroker" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://www.inSyca.com/messagebroker/service_response_10" />
      <xsd:import />
      <xsd:import namespace="http://www.inSyca.com/messagebroker" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageBroker_getVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:getVersion" />
  </wsdl:message>
  <wsdl:message name="IMessageBroker_getVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBroker_logMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:logMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageBroker_logMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:logMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageBroker">
    <wsdl:operation name="getVersion">
      <wsdl:input wsaw:Action="http://www.inSyca.com/IMessageBroker/GetVersion" message="tns:IMessageBroker_getVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inSyca.com/IMessageBroker/IMessageBroker/getVersionResponse" message="tns:IMessageBroker_getVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logMessage">
      <wsdl:input wsaw:Action="http://www.inSyca.com/IMessageBroker/LogMessage" message="tns:IMessageBroker_logMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inSyca.com/IMessageBroker/IMessageBroker/logMessageResponse" message="tns:IMessageBroker_logMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>