inSyca.suite.unittest_40/Service References/svcTrackingMonitor/inSyca.foundation.integration.itf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/inSyca.foundation.integration.itf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/inSyca.foundation.integration.itf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfmessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmessage" nillable="true" type="tns:ArrayOfmessage" />
  <xs:complexType name="message">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomFields" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="interchangeid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="message" nillable="true" type="tns:message" />
</xs:schema>