inSyca.suite.unittest_40/Service References/svcTrackingMonitor/ITrackingMonitor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.inSyca.com/ITrackingMonitor" elementFormDefault="qualified" targetNamespace="http://www.inSyca.com/ITrackingMonitor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/inSyca.foundation.integration.itf" />
  <xs:element name="getVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getVersionResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/inSyca.foundation.integration.itf" minOccurs="0" name="GetMessagesResult" nillable="true" type="q2:ArrayOfmessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>