inSyca.suite.unittest_40/Service References/svcTrackingMonitor/ITrackingMonitor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.inSyca.com/ITrackingMonitor" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.inSyca.com/ITrackingMonitor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.inSyca.com/ITrackingMonitor/Imports">
      <xsd:import namespace="http://www.inSyca.com/ITrackingMonitor" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/inSyca.foundation.integration.itf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrackingMonitor_getVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:getVersion" />
  </wsdl:message>
  <wsdl:message name="ITrackingMonitor_getVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ITrackingMonitor_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="ITrackingMonitor_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrackingMonitor">
    <wsdl:operation name="getVersion">
      <wsdl:input wsaw:Action="http://www.inSyca.com/ITrackingMonitor/GetVersion" message="tns:ITrackingMonitor_getVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inSyca.com/ITrackingMonitor/ITrackingMonitor/getVersionResponse" message="tns:ITrackingMonitor_getVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://www.inSyca.com/ITrackingMonitor/GetMessages" message="tns:ITrackingMonitor_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://www.inSyca.com/ITrackingMonitor/ITrackingMonitor/GetMessagesResponse" message="tns:ITrackingMonitor_GetMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>